h1 {
    text-align: center;
    color: #F17300;
    text-shadow: 3px 3px lightblue;
    font-size: 5vw;
}

h2 {
    text-align: center;
    color: #3E7CB1;
    font-size: 2vw;
}

h3 {
    color: #81A4CD;
    font-size 1.8vw;
}

html {
    /* background-color: #DBE4EE; */
    background-color: rgba(219,228,238, 0.5);
    margin-left: 10%;
    margin-right: 10%;
}

body {
    margin: 0;
}

hr {
    margin-top: 5%;
    margin-bottom: 5%;
}

p, li {
    font-size: 1.5vw;
}

img {
    margin-left: auto;
    margin-right: auto;
}

/* LaTeX maths equations */
.equations {
    text-align: center;
}

.articleImage {
    max-width: 100%;
}

/* -------------- Multiple Choice Quiz ------------ */

.choices {
    padding: 1%;
    border-style: ridge;
    border-color: aquamarine;
    float: left;
    width: 21%;
    /* width: 23%; /* since margin-left and margin-right are 1% each, and there are 8 spaces for margins between the choice boxes including the outside, total area = 100% - 8(1%) = 92. Padding is 1% each, and there are also 8 paddings. Therefore 92% - 8(1%) = 84%. 84%/4 boxes = 21% per box. */
    height: 30px;
    text-align: center;
    background-color: #81A4CD;
    color: #F17300;
    font-size: 120%;
    border-style: none; /* borders mess up width */
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 30px;
}

.choices:hover .choice{
    text-decoration: underline;
    font-size: 200%;
}

.question {
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}

.choiceList {
    text-align: center;
    width: 100%;
}

#startButton {
    padding: 1%;
    text-align: center;
    width: 30%;
    font-size: 300%;
    margin-left: auto;
    margin-right: auto;
    background-color: #81A4CD;
    color: #F17300;
    font-weight: 900;
    border-radius: 50px;
}

#startButton:hover {
    background-color: cyan;
}

/* --------------- DROP-DOWN NAV BAR --------------------- */
nav {
    overflow: hidden;
    /* background-color: #81A4CD; */
    padding: 5px 0px;
    font-size: 120%;
    width: 80%; /* could do 100% for full width if desired */
    margin-left: auto;
    margin-right: auto;
    border-bottom: 5px ridge #F17300;
}

nav img {
    float: left;
    width: 10%;
}

/* for all links inside the nav bar (including Home, About, Carbon Dating, etc) */
nav a {
    float: left; /* float to the LEFT of each other */
    color: #3E7CB1;
    text-align: center; /*not working? */
    padding: 12px 20px;
    text-decoration: none; /*removes the underlines that are present in URL links (<a>) by default */
}

/* when any link (Home, About, Carbon Dating, etc) is hovered */
nav a:hover {
    background-color: #3E7CB1;
    color: blue;
}

.dropdownContainer {
    background-color: inherit; /* inherit from nav bar */
    float: left;
    overflow: hidden;
}

.dropdownContainer .dropdownCaret {
    border: none; /* removes the default border that surrounds buttons */
    margin: 0;
    padding: 12px 10px;
    /* width: 240px; */ 
    /* ↑ If menu bar is too long, use above to chop into multiple lines */
    background-color: inherit; /* default background colour for buttons is white, so it needs to inherit it from dropdownContainer. */
    /* height: 100%; */
    color: #3E7CB1;
    font-size: 80%;
}

/* By default, the dropdown contents should be */
.dropdownContent {
    background-color: #81A4CD;
    visibility: hidden; /* hides the dropdown by defualt */
    position: absolute;
    display: block;
    min-width: 100%;

}

/* Hover dropdownContainer (dropdown heading e.g. Qudratics, Probability) => SHOW the dropdownlist (.dropdownContent)*/
.dropdownContainer:hover .dropdownContent {
    visibility: visible; /* SHOW the dropdown list (change from visibility: hidden;) */
}

.dropdownContainer:hover {
    background-color: #81A4CD;
}

/* For all links inside the dropdowns (Carbon Dating, pH-Scale, etc) */
.dropdownContent a {
    display: block;
    float: none;
    text-align: left;
}

/* When the dropdown link items (Carbon Dating, pH-Scale, etc) is hovered */
.dropdownContent a: hover{ 
    background-color: lightcyan;
}

/* Has nothing to do with dropdown, tells user which site s/he is on */
.activeSite {
    background-color: rgba(241,115,0, 0.2); /* #F17300 */
}

/* ------------ GLOSSARY  --------------------  */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid #054A91;
}

/* --- */
.benford {
    float: left;
    width: 33.33%;
}