h1 {
    text-align: center;
    color: #F17300;
    text-shadow: 3px 3px lightblue;
    font-size: 5vw;
}

h2 {
    text-align: center;
    color: #3E7CB1;
    font-size: 2vw;
}

html {
    background-color: #DBE4EE;
    margin-left: 5%;
    margin-right: 5%;
}

hr {
    margin-top: 5%;
    margin-bottom: 5%;
}

/* -------------- Multiple Choice Quiz ------------ */

.choices {
    padding: 2%;
    border-style: ridge;
    border-color: aquamarine;
    float: left;
    width: 20%; /* since margin-left and margin-right are 10% each, total area = 80%. Therefore 80%/4 boxes = 20% per box. */
    height: 30px;
    text-align: center;
    background-color: cadetblue;
    color: aqua;
    font-size: 120%
}

.choices:hover .choice{
    text-decoration: underline;
    font-size: 200%;
}

.question {
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}

.choiceList {
    text-align: center;
}

#startButton {
    padding: 1%;
    text-align: center;
    width: 30%;
    font-size: 300%;
    margin-left: auto;
    margin-right: auto;
    background-color: cornflowerblue;
    color: #054A91;
    font-weight: 900;
}

#startButton:hover {
    background-color: cyan;
}

/* --------------- DROP-DOWN NAV BAR --------------------- */
nav {
    overflow: hidden;
    /* background-color: #81A4CD; */
    padding: 5px 0px;
    font-size: 120%;
    width: 80%; /* could do 100% for full width if desired */
    margin-left: auto;
    margin-right: auto;
}

nav img {
    float: left;
    width: 10%;
}

/* for all links inside the nav bar (including Home, About, Carbon Dating, etc) */
nav a {
    float: left; /* float to the LEFT of each other */
    color: #3E7CB1;
    text-align: center; /*not working? */
    padding: 12px 20px;
    text-decoration: none; /*removes the underlines that are present in URL links (<a>) by default */
}

/* when any link (Home, About, Carbon Dating, etc) is hovered */
nav a:hover {
    background-color: #3E7CB1;
    color: blue;
}

.dropdownContainer {
    background-color: inherit; /* inherit from nav bar */
    float: left;
    overflow: hidden;
}

.dropdownContainer .dropdownCaret {
    border: none; /* removes the default border that surrounds buttons */
    margin: 0;
    padding: 12px 10px;
    /* max-width: 120px; */ 
    /* ↑ If menu bar is too long, use above to chop into multiple lines */
    background-color: inherit; /* default background colour for buttons is white, so it needs to inherit it from dropdownContainer. */
    height: 100%;
    color: #3E7CB1;
    font-size: 80%;
}

/* By default, the dropdown contents should be */
.dropdownContent {
    background-color: #81A4CD;
    visibility: hidden; /* hides the dropdown by defualt */
    position: absolute;
    display: block;
    width: 180px;
}

/* Hover dropdownContainer (dropdown heading e.g. Qudratics, Probability) => SHOW the dropdownlist (.dropdownContent)*/
.dropdownContainer:hover .dropdownContent {
    visibility: visible; /* SHOW the dropdown list (change from visibility: hidden;) */
}

.dropdownContainer:hover {
    background-color: #81A4CD;
}

/* For all links inside the dropdowns (Carbon Dating, pH-Scale, etc) */
.dropdownContent a {
    display: block;
    float: none;
    text-align: left;
}

/* When the dropdown link items (Carbon Dating, pH-Scale, etc) is hovered */
.dropdownContent a: hover{ 
    background-color: lightcyan;
}

/* ------------ ARTICLE CONTENT --------------------